.my-button {
    color: white;
    border-color: white;
    background-color: #3388C1;
}

.my-button:hover {
    background-color: white;
    color: #3388C1;
    border-color: #3388C1;
}

.bgimg {
    background-color: #226A97;
}

.bgcontainer1img {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-color {
    color: white;
}

.imt-color {
    color: black;
}

.my-color {
    color: #3388C1;
}


/*footer*/

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 1;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
     background-color: white;
  color:#3388C1 ;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
.bgimg1{
    background-image: url('https://swall.teahub.io/photos/small/337-3371635_must-have-seamless-patterns-for-website-backgrounds-blue.jpg');
}